# Database -------------------
POSTGRES_URL=localhost
POSTGRES_PORT=5432
POSTGRES_DB=XXXX
# User needs to have all right onto the database (+ create table)
POSTGRES_USER=XXX
POSTGRES_PWD=XXXX

# Authentication --------------
AUTH_SECRET_KEY=XXXX
HASH_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60

# Server protection --------------
SERVER_TOKEN_HEADER=Server-Token
# This can be leaved empty if you want to
# create a public instance
SERVER_TOKEN=XXX